<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />

</head>

<body>
    <div class="container">
        <h1>Budgtr</h1>
        <table class="budget-table">
            <tbody>
                <% allBudget.forEach(function(element,index) { %>
                    <tr>
                        <td>
                            <%= element.date %>
                        </td>
                        <td>
                            <a href="/budgets/<%= index %>">
                                <%= element.name %>
                            </a>
                        </td>
                        <td>
                            <%= element.amount %>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
</body>

</html>